.header{
    text-align: center;
    display: flex;
    justify-content: center;

    background-color: rgba(49, 17, 8, 0.925);
}

.logo{
    height: 50px;
    width: 50px;
    
}

h3{
    color: rgb(248, 222, 182);
}

.content{
    display: grid;
    grid-template-areas: "items payment"
    "total total";
}

.item{
    display: flex;
}

.total{
    display: flex;
}

.subtotal{
    display: flex;
}

.input-group {
    position: relative;
    display: inline-block;
  }
  .input-label{
    background-color: white;
    color: rgba(75, 10, 10, 0.998);
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
  }

  .input-text {
    border-color: rgba(75, 10, 10, 0.998);
    padding: 8px;
    border-radius: 225px;
  }

  .card{
    display: grid;
    


  }